@model BookDisplayModel
@{

}
<style>
    body {
        background-color: rgb(250, 248, 245) !important;
    }
    .navbar.navbar-expand-lg.navbar-dark.bg-primary {
        background-color: rgb(238,229,218) !important;
    }
    .bg-primary .navbar-nav .nav-link {
        color: rgb(122, 94, 87) !important;
    }
    .navbar-brand {
        color: rgb(122, 94, 87) !important;
    }
    .navbar-nav.me-auto {
        color: rgb(122, 94, 87) !important;
    }
    .bg-primary .navbar-nav .nav-link.active,
    .bg-primary .navbar-nav .nav-link:hover {
        color: rgb(83, 116, 146) !important;
    }
</style>
<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12" style="width: 100%; border-radius: 30px !important;">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Model.Genres)
                {
                    <option selected="@(genre.Id == Model.GenreId)" value="@genre.Id">@genre.GenreName</option>
                }
            </select>
        </div>
        <div class="col-12 searchMain">
            <label class="visually-hidden booksearch" for="sterm">Search for books</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Sarch for books">
                <img src="/images/search.png" class="searchImg" />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/Home/Index" class="btn btn-dark">Reset</a>
            </div>
        </div>
    </form>
</div>
<style>
    .input-group-text {
        display: none;
    }
    .searchImg {
        height: 20px;
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 5;
    }
    .input-group > .form-control {
        padding-left: 45px;
        border-radius: 30px !important;
        background-color: rgb(238,229,218);
        border: none;
        outline: none;
    }
    .input-group > .form-control::placeholder {
        color: rgb(122, 94, 87);
    }
    .row.row-cols-lg-auto.g-3.align-items-center {
        flex-direction: column;
    }
    .searchMain {
        display: flex;
        width: 100%;
    }
    .input-group {
        min-width: calc(100% - 190px);
        margin-right: 10px;
    }
    .btn.btn-primary {
        background: linear-gradient(90deg, rgba(87,120,150,1) 0%, rgba(29,74,115,1) 100%);
        border-radius: 6px 20px;
        padding: 5px 20px;
        margin-right: 5px;
    }
    .btn.btn-dark {
        background: linear-gradient(90deg, rgba(87,120,150,1) 0%, rgba(29,74,115,1) 100%);
        border-radius: 6px 20px;
        padding: 5px 20px;
    }
    .btn.btn-primary:hover,
    .btn.btn-dark:hover {
        background: linear-gradient(90deg, rgba(45,75,100,1) 0%, rgba(9,17,23,1) 100%);
    }
</style>
<div class="w-100 mt-4 d-flex flex-wrap ">
    @foreach (var book in Model.Books)
    {
        <div class="card mx-3 mb-4" style="width: 11rem;">
            @if (string.IsNullOrEmpty(book.Image))
            {
                <img style="width:100%;height:180px" src="/images/NoImage.png" class="card-img-top" alt="...">

            }
            else
            {
                <img style="width:11rem;height:180px" src="/images/@book.Image" class="card-img-top" alt="...">
            }
            <div class="card-body" style="text-align: center; padding-top: 10px;">
                <h5 class="card-title">@book.BookName</h5>
                <p class="card-text">
                    <b style="color: rgb(83, 116, 146); font-size: 18px;">Genre: </b>@book.GenreName <br />
                    <b style="color: rgb(83, 116, 146); font-size: 18px;">Author: </b>@book.AuthorName <br />
                    <b style="color: rgb(83, 116, 146); font-size: 18px;">Price: </b> <span style="font-weight: bold; font-size: 20px;"> @book.Price $ </span>
                </p>
                @if (book.Quantity > 0)
                {
                    <button type="button" onclick="add(@book.Id)" class="btn btn-primary">Add to cart</button>
                }
                else
                {
                    <span style="border: 1px solid;padding: 5px 15px;color: red;border-radius: 6px 20px;">Out of stock</span>
                }
            </div>
        </div>
    }
</div>
<style>
    .d-flex {
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
    }
    .card.mx-3.mb-4 {
        min-width: 250px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 229, 218);
        padding-top: 20px;
        min-height: 420px;
        border-radius: 6px 30px;
        transition: 0.3s all;
    }
    .card.mx-3.mb-4:hover {
        box-shadow: -4px -3px 10px 0 #7a5e57;
        margin-top: -5px;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .card-title {
        font-weight: bold;
        color: rgb(122, 94, 87);
    }
    .card-img-top {
        transition: 0.3s all;
        z-index: 6;
    }
    .card-img-top:hover {
        transform: scale3d(1.4, 1.4, 1.4);
    }
</style>
@section Scripts{
    <script>
        async function add(bookId) {
             var usernameEl = document.getElementById("username");
        if(usernameEl==null){
            window.location.href = "/Identity/Account/Login";
        }
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}


